@font-face {
  font-family: "Monserrat Bold";
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Inter Light";
  src: url(./assets/fonts/Inter_28pt-Light.ttf);
}

@font-face {
  font-family: "Monserrat Light";
  src: url(./assets/fonts/Montserrat-Light.ttf);
}

.main-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #F1F5F9;
}

.header {
  position: fixed;
  top: 0;
  height: 5vw;
  width: 100%;
  background-color: rgba(30, 41, 59, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}


#logo {
  width: 10vw;
  height: auto;
  margin-left: 10vw
}

#categoria {
  width: 40vw;
  height: 3vw;
  margin-left: 2vw;
  text-indent: 1vw;
  border-radius: 0.5vw;
  border-style: none;
  font-size: 1vw;
  font-family: "Inter Light";
}

#buttonherramienta {
  padding: 6px 12px;
  height: 3vw;
  width: 5vw;
  background-color: #fabc11;
  color: black;
  border: none;
  border-radius: 0.5vw;
  border: 0.1vw solid #fabc11;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1vw;
  font-family: "Inter Light";
}

.burger {
  position: absolute;
  top: 1.5vw;
  left: 2vw;
  width: 2.5vw;
  height: 2vw;
  background: transparent;
  cursor: pointer;
  display: block;
  z-index: 2;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fabc11;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.iconheader {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-left: 12vw;
}

.iconheader img {
  width: 2vw;
}

.iconheader button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.presentation {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #1E293B;
  background-image: radial-gradient(
    circle at right,
    rgba(255, 255, 255, 0.15),
    rgba(30, 41, 59, 1)
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f5f9;
  font-family: 'Segoe UI', sans-serif;
}

.slogan {
  margin-top: 10vw;
  margin-left: 10vw;
}

.slogan p {
  font-size: 4vw;
  font-family: "Monserrat Bold";
  z-index: 1;
}

.slogan span {
  color: #fabc11;
}

#collage {
  position: absolute;
  width: 50vw;
  top: 10vw;
  right: 0vw;
  opacity: 1;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
}

.register {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}

#inputregister {
  width: 30vw;
  height: 3vw;
  text-indent: 1vw;
  font-size: 1vw;
  font-family: "Inter Light";
  border-style: none;
  border-radius: 0.5vw;
}

#buttonRegister {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  margin-left: 1vw;
  height: 3vw;
  width: 7vw;
  background-color: #fabc11;
  color: black;
  border: none;
  border-radius: 0.5vw;
  border: 0.1vw solid #fabc11;
  cursor: pointer;
  font-size: 1vw;
  font-family: "Inter Light";
}

.info {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 47.5vw;
  left: 0;
  background-image: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.15),
    rgba(30, 41, 59, 1)
  );
}

.filter {
  position: absolute;
  display: flex;
  align-items: center;
  left: 10vw;
  top: 1vw;
}

#filterbutton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1vw;
  border: none;
  background-color: transparent;
}

#tittlecategoria {
  font-size: 1vw;
  font-family: "Monserrat Light";
}

#filtericon {
  width: 2vw;
  height: 2vw;
}

.barra-categorias {
  width: auto;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: black;
}

.categoria {
  font-size: 1.1vw;
  font-family: "Monserrat Light";
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: font-size 0.5s;
}

.categoria:hover {
  background-color: #fabc11;
  font-size: 1.2vw;
}

.herramientas {
  margin-top: 5vw;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.card {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 0.1vw solid #9da4b0;
}

.imagen img {
  border-radius: 0.5vw;
  width: 10vw;
  height: 10vw;
}

.card h3, .card strong {
  font-family: "Monserrat Bold";
}

.card p {
  font-family: "Monserrat Light";
}

.card:hover {
  transform: translateY(-4px);
}

.paginacion {
  width: 80%;
  margin-top: 3vw;
  display: flex;
  justify-content: space-between;
}

.paginacion button {
  background-color: #f1f5f9;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.paginacion button:active {
  background-color: #1E293B; /* Color temporal al presionar */
  transform: scale(0.98); /* Leve efecto de clic */
}


#previous {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 3vw;
  border-radius: 0.5vw;
  color: #9da4b0;
  font-family: "Monserrat Bold";
  font-size: 1vw;
}

#left, #right {
  margin-top: 0.4vw;
  width: 2vw;
}

#next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 3vw;
  border-radius: 0.5vw;
  color: #9da4b0;
  font-family: "Monserrat Bold";
  font-size: 1vw;
}

footer {
  margin-top: 5vw;
  background-color: #1E293B;
  background-image: radial-gradient(
    circle at left,
    rgba(255, 255, 255, 0.15),
    rgba(30, 41, 59, 1)
  );
  width: 100%;
  height: 30vw;
  top: 135vw;
  left: 0;
}
